/*
  Colors
    Dark Blue:    #0C4875
    Light Blue:   #3CBCE4
    Red:          #ED1C24
    Light Gray:   #FAFAFA
    Light Gray:   #E5E5E5
    Dark Gray:    #2A2B2F
*/

body, html {
  margin: 0px;
  height: 100%;
  background-color: #E5E5E5;
}

#top {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
}

#top > div {
  padding: 13px 25px;
  text-align: left;
  font: bold 24px verdana, sans-serif;
}

#top .appTitle {
  font: bold 24px verdana, sans-serif;
}

#top .logout {
  display:block;
  border: solid 2px #ED1C24;
  border-radius: 5px;
  color: #ED1C24;
  padding: 5px 10px;
  float: right;
  font: bold 12px verdana, sans-serif;
}

#menu {
  width: 20%;
  padding: 0px;
  height: 100%;
  background-color: #2A2B2F;
  color: #FFFFFF;
  z-index: 1;
}

#menu > div {
  padding-top: 75px;
  text-align: right;
}

#menu > div > div > a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 20px;
  font: bold 18px verdana, sans-serif;
  cursor: pointer;
}

#menu > div > div > a:hover, #menu > div > div > a.selected {
  background-color: #0C4875;
}

.temp {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 250px;
  font: bold 12px verdana, sans-serif;
}

#main {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  width: 80%;
  padding-top: 50px;
  text-align: left;
}

#main > div {
  padding: 10px;
  font: 12px verdana, sans-serif;
}

h1.title {
  padding: 10px;
  margin: 0px;
  font: bold 24px verdana, sans-serif;
}

h3.subtitle {
  margin: 0px;
  font: bold 18px verdana, sans-serif;
}

h3.subtitle > span {
  margin-left: 5px;
  font: bold 10px verdana, sans-serif;
}

h4.subtitle2 {
  padding-top: 15px;
  margin: 0px;
  font: bold 15px verdana, sans-serif;
  color: #0C4875;
}

h5 {
  font: bold 12px verdana, sans-serif;
  margin-bottom: 0px;
}

.indentLeft {
  padding-left: 10px;
}

div.instanceUrl {
  margin: 0px;
  font: bold 10px verdana, sans-serif;
}

div.instanceUrl > a {
  text-decoration: none;
  color: #0C4875;
  border-bottom: none 1px #FFFFFF;
  margin-bottom: 2px;
}

div.instanceUrl > a:hover {
  text-decoration: none;
  color: #ED1C24;
  border-bottom: dashed 1px #3CBCE4;
}

#main > div #content > div {
  padding: 10px;
}

.storageGaugeContainer, .licensingGaugeContainer {
  border: solid 1px #2A2B2F;
  background-color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
}

.storageGaugeContainer > div, .licensingGaugeContainer > div {
  border: solid 1px #2A2B2F;
  padding: 1px;
  margin-top: 10px;
}

.storageGaugeContainer > div > div, .licensingGaugeContainer > div > div {
  width: 100%;
  background-color: #3CBCE4;
}

.storageGaugeContainer > div > div.warn {
  background-color: rgb(237, 199, 28);
}

.storageGaugeContainer > div > div.critical, .licensingGaugeContainer > div > div.licensingViolation {
  background-color: #ED1C24;
}

.adminModeSwitch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
}

.adminModeSwitch input {
  display:none;
}

.adminModeSwitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3CBCE4;
  -webkit-transition: .4s;
  transition: .4s;
}

.adminModeSwitch .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.adminModeSwitch input:checked + .slider {
  background-color: #ED1C24;
}

.adminModeSwitch input:focus + .slider {
  box-shadow: 0 0 1px #ED1C24;
}

.adminModeSwitch input:checked + .slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  transform: translateX(60px);
}



.circle {
  border: solid 2px green;
	border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 1px;
  margin: 0px;
}

.circle > div {
  background-image: -moz-radial-gradient(5px 5px 45deg, circle cover, yellow 10%, green 100%, red 0%);
	background-image: -webkit-radial-gradient(5px 5px, circle cover, yellow, green);
	background-image: radial-gradient(5px 5px 45deg, circle cover, yellow 10%, green 100%, red 0%);

	border-radius: 50%;
  width: 100%;
  height: 100%;
}

.sqlConnection > div > div > *, .system > div > div > * {
  float: left;
  text-align: middle;
}

.sqlConnection h3, .system h3 {
  margin: 0px 10px;
  padding: 0px;
  line-height: 25px;
}

.login > form > div {
  width: 60%;
  text-align: right;
  font: bold 12px verdana, sans-serif;
  margin-bottom: 10px;
}

.login > form > div > input {
  border: solid 1px #2A2B2F;
  text-align: left;
  padding: 2px 5px;
}